/* SUIT 폰트의 Variable 적용 */
@import url('https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/variable/woff2/SUIT-Variable.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'SUIT Variable', sans-serif;
}

@font-face {
  font-family: 'Rockwell';
  src: url('/fonts/Rockwell-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rockwell';
  src: url('/fonts/Rockwell-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
